[Unit]
Description=Start PacketProcessingService after Docker is ready
After=docker.service network-online.target
Wants=network-online.target
Requires=docker.service

[Service]
Type=simple
User=asgard
WorkingDirectory=%h/Desktop/KanatBackend

ExecStart=%h/Desktop/KanatBackend/scripts/startup/start-dotnet-on-boot-linux.sh

Restart=on-failure
RestartSec=5

StartLimitIntervalSec=300
StartLimitBurst=60

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target